* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    overflow: hidden;
}

/*Button*/

.new-employee-div {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-div {
    display: none;
}

.new-employee {
    position: relative;
    padding: 10px 15px;
    border: #3498db 0.8px solid;
    color: #3498db;
    font-size: 1.3rem;
    background: none;
    overflow: hidden;
    cursor: pointer;
    transition: color 700ms ease-in-out;
    border-radius: 8px;
}

.new-employee::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background: #3498db;
    z-index: -1;
    transition: height 500ms ease-in-out;
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.new-employee:hover {
    color: #fff;
}

.new-employee:hover::before {
    height: 170%;
}

.hidden {
    display: none;
}

.add-new-employee {
    color: #fff;
    border: #fff 0.8px solid;
    z-index: 3;
    position: relative;
    left: 82%;
    top: 80vh;
}

.add-new-employee:hover {
    color: #3498db;
}

.add-new-employee::before {
    background-color: #fff;
}
@media only screen and (max-width:525px){
  .new-employee{
    background-color:#3498db; 
    color:#fff;
  }
}
/*Main*/

.main-container {
    left: -100%;
    position: relative;
    width: 100%;
    background-color: #ecf0f3;
    min-height: 100vh;
    transition: all 1.5s ease-in-out;
    overflow: hidden;
    z-index: 3;
}

.slide {
    left: 0;
}

.main-container:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-30%);
    background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 1;
}

.main-container.form-done:before {
    transform: translate(50%, -20%);
    right: 52%;
}

.company-name{ 
   position: absolute;
   top:38%;
   left:5%;
   font-size: 6rem;
   color: rgba(4, 190, 254,0.1);
   text-shadow: 
   -8px -8px 12px rgba(255,255,255,0.1),
   8px 8px 12px rgba(0,0,0,0.1);
   z-index: 3;
}
@media only screen and (max-width: 512px){
  .company-name{
    font-size: 4rem;
    top:35%;
  }
}
/*FORM*/


.form-div {
    position: absolute;
    left: 32%;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 20px auto 0;
    width: 430px;
    height: 90vh;
    padding: 10px 10% 0;
    border-radius: 40px;
    background-color: none;
    box-shadow: -13px -13px 20px rgba(0, 0, 0, 0.1),
        13px 13px 20px rgba(255, 255, 255, 0.8);
    z-index: 10;
    transition: all 1s linear;
}

.after-submit {
    transition: all 1s linear;
    z-index: 2;
    left: 0;
    top:15%;
    width: 70vw;
    height: 50vh;
    padding: 20px 0 0;
    margin: 40px auto 0;
    box-shadow: -13px -13px 20px rgba(0, 0, 0, 0.1),
        8px 8px 15px rgba(255, 255, 255, 0.8);
}
@media only screen and (max-width: 1000px){
  .form-div{
    left:25%;
  }

}
@media only screen and (max-width: 860px){
  .form-div{
    left:10%;
  }
}
@media only screen and (max-width: 680px){
  .form-div{
    left:0%;
  }
}
@media only screen and (max-width: 580px){
  .form-div{
    width: 400px;
    left:-7%;
    padding-left: 0;
  }
}
@media only screen and (max-width: 520px){
  .form-div{
    width: 320px;
    height: 92vh;
    left:0%;
  }
}


form {
    width: 100%;
    padding: 15px;
}

.form-submitted {
    display: none;
}

.form-heading {
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 1.3rem
}

.input,
.select {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #000;
    padding: 10px;
    margin: 20px 0;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
        inset -5px -5px 5px #fff;
}

input[type="date"] {
    cursor: text;
}

.select {
    cursor: pointer;
    padding-right: 11%;
}

.clear-details-btn {
  color: #333;
    cursor: pointer;
    box-shadow: 8px 8px 8px #cbced1,
        -5px -5px 5px #fff;
}

.clear-details-btn:active {
    box-shadow: inset 8px 8px 8px #cbced1,
        inset -5px -5px 5px #fff
}

.submit-btn:active {
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.submit-btn {
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    background: #0278ae;
    box-shadow: 8px 8px 8px #b1b1b1,
        -3px -3px 8px #ffffff;
}
@media only screen and (max-width: 860px){
.clear-details-btn{
  color: #fff;
  box-shadow:  3px 3px 3px #cbced1,
         -5px -5px 5px rgba(0,0,0,0.2)
}
.clear-details-btn:active {
    box-shadow: inset 4px 4px 4px #cbced1,
        inset -5px -5px 5px rgba(0,0,0,0.1)
}
}
@media only screen and (max-width: 580px){
  label{
    font-size: 1.2rem
  }
  .clear-details-btn{
    color: #fff
  }
}
@media only screen and (max-width: 520px){
  .input{
    padding-right: 0
  }
  .name,.employee-id{
    width: 180px
  }
  .select {
    padding-right: 2%;
  }
  input[type="date"]{
    width: 50%;
  }
  .clear-details-btn{
    width: 45%;
    padding-left: 0;
  }
  .submit-btn{
    width: 90%;
    height: 50px;
  }
}


/*Table*/


.table-container {
    text-align: center;
    position: relative;
    left: 17%;
    top: 30vh;
    z-index: 8;
    border-radius: 8px;
}
@media only screen and (max-width: 1500px){
  .after-submit{
    display: none;
  }
  .table-container{
    left:12%;
  }
  .add-new-employee{
    left:40%;
  }
}
@media only screen and (max-width: 1250px){
  .table-container{
    left :8%;
  }
}
@media only screen and (max-width: 1150px){
.table-container{
  left:5%;
}
}
@media only screen and (max-width: 1060px){
.table-container{
  left:1%;
}
}
.table {
    opacity: 0;
    position: absolute;
    z-index:2;
    border-collapse: collapse;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.25);
    border: rgba(255,255,255,0.3) 2px solid;
    table-layout: fixed;
}

.show-table {
    transition: all 1.5s linear;
    opacity: 1;

}

tbody {
    border: 1px solid #434343;
    border-top: none;
    overflow:auto;
    display: block; 
    max-height: 102px;
    overflow-y: auto;
    overflow-x: hidden;
}

thead{
  display: table;
  width: 100%;
  border-bottom: #000 1px solid;
}
thead tr {
    background: rgba(255, 255, 255, 0.25);
    font-weight: bold;
    color: #000;
      display: block;
  position: relative;
}
thead th:first-of-type {
    background-color: none;
    border: none;
}
tbody tr {
    border-bottom: 2px solid #fff;
}

th,td {
    padding: 12px 15px;
    min-width: 200px;
}
th:first-of-type,td:first-of-type{
  min-width: 20px;
  max-width: 20px;
}
th:nth-of-type(3),td:nth-of-type(3),
th:nth-of-type(4),td:nth-of-type(4),
th:nth-of-type(6),td:nth-of-type(6){
  min-width: 130px;
}

tr td:first-of-type {
    background-color: none;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 22px;
}

tr i:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.9)
}
  @media only screen and (max-width: 1000px){
  table, thead, tbody, th, td, tr { 
    display: block; 
    border:none;
  }
   table{
      min-width: 450px;
      left:25%;
      top:-15vh;
      height: auto;
      overflow-y:auto; 
  }
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tbody{
    height: auto;
    max-height: none;
    overflow-y: auto;
    overflow-x: hidden;
  }

  tr { 
    border: 1px solid #ccc; 
  }
  
  td { 
    border: none;
    border-bottom: 1px solid #000; 
    position: relative;
    padding-left: 40%;
    width: 100%;
    text-align: left;
  }
  
  td:before { 
    position: absolute;
    top: 3px;
    left: 6px;
    padding: 10px; 
    text-align: left;
  }
  td:nth-of-type(2):before { content: "Name"; }
  td:nth-of-type(3):before { content: "Employee ID"; }
  td:nth-of-type(4):before { content: "Department"; }
  td:nth-of-type(5):before { content: "Email Id"; }
  td:nth-of-type(6):before { content: "Date of Joining"; }

  tr i {
    width:100%;
    border-radius: 50%;
    border:#fff 1px solid;
    padding: 05px;
    margin-left:-800%;
  }
  tr i:hover {
    background-color: rgba(0,0,0,0.3)
  }
  .add-new-employee{
    left:38%;
    top:70vh;
  }
}
@media only screen and (max-width: 800px){
  table{
    left:20%;
  }
  .add-new-employee{
    left:34%;
  }
}
@media only screen and (max-width: 680px){
  table{
    left:15%;
  }
}
@media only screen and (max-width: 600px){
  table{
    left:10%;
  }
  .add-new-employee{
    left:30%;
  }
}
@media only screen and (max-width: 540px){
  table{
    left:7%;
  }
  .add-new-employee{
    left:25%;
  }
}
@media only screen and (max-width: 520px){
  table{
    left:3%;
    top: -20vh
  }
  .add-new-employee{
    left:25%;
  }
}
@media only screen and (max-width: 490px){
  table{
    left:1%;
    min-width: 345px;
  }
  tr i{
    margin-left: -600%;
  }
  .add-new-employee{
    left:25%;
  }
}

  .overlay {
  position: fixed;
  width: 100%;
  top:0;
  left: -100%;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.6);
  z-index: 10;
}
.popup {
  width: 33%;
  padding: 15px;
  left: -100%;
  top:0;
  margin-left: 34%;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #fff;
  position: absolute;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  z-index: 100;
}
.popup-border{
  border:#000 2px solid;
  border-radius: 8px;
  padding: 15px;
}
.popup p{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px
}
.confirm-buttons-div{
  display: flex;
  justify-content: flex-end;
}
.popup .btn{
  padding:5px  10px;
  font-size: 1.2rem;
  margin-left: 20px;
  border-radius: 8px;
  cursor: pointer;
background-color: #000;
color: #fff
}
.popup .btn:focus{
  outline: none;
}

@media (max-width: 768px) {
  .popup {
    width: 33%;
    margin-left: 33%;
  }
}
@media (max-width: 992px) {
  .popup {
    width: 50%;
    margin-left: 25%;
  }
}
@media (max-width: 1200px) {
    .popup {
    width: 67%;
    margin-left: 17%;
  }
}

